body {
  margin: 0;
  padding: 0.25em 1.5em;
  background-color: #c4f0f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    height: 140%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#score {
    margin: 1em 0 0.5em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn {
    background-color: #5491e8;
    outline: none;
    border: 0;
    padding: 0.35em 0.7em;
    margin: 0.3em 0.1em;
    border-radius: 1em;
    color: white;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.error {
    color: red;
}
.btn:hover {
    background-color: #3f72ba;
}
.btn:active {
    background-color: #3f72ba;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
}
#greetingmsg {
    margin: 1em 0;
    color: #024a5c;
    font-style: italic;
}
#greetingcontent {
    width: 20%;
}
.noselect, #game {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.txtfld {
    margin: 0.8em 0.65em 0.8em 0.5em;
    height: 1.5em;
    width: 14em;
    border-radius: 1em;
    border: 2px solid lightslategray;
    outline: none;
    padding: 2px 8px 1px;
    transition: background-color 0.24s linear, width 0.32s ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
#guessfld:disabled {
    background-color: #28b54d;
    border: 2px solid lightslategray;
    opacity: 0.5;
    color: black;
    font-weight: bold;
    transition: background-color 0.48s linear, width 0.36s ease-in-out;
}
.txtfld:disabled {
    background-color: rgb(146, 153, 160);
    color: #edf4ff;
    font-weight: bold;
    transition: background-color 0.6s linear, color 0.36s ease-in-out;
}

.txtfld:focus {
    background-color: #edf4ff;
    transition: background-color 0.18s ease-in-out;
    color: black;
}

label {
    font-weight: bold;
}

#dice {
    background-color: floralwhite;
    border-radius: 0.42em;
    border: 1px solid black;
    height: 5em;
}
#dice:hover {
    animation: shake 0.32s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  25% { transform: translate(-3px, 0px) rotate(1deg); }
  50% { transform: translate(1px, -1px) rotate(1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  75% { transform: translate(-1px, -1px) rotate(1deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
h3 {
    margin-top: 0.7em;
}
#game {
    padding: 16px 16px 22px;
    background-color: #e6ffff;
    border-radius: 1.4em;
    display: inline-block;
    width: 22em;
}
#gameheader {
    margin: 0 0 0.4em;
    font-size: 23pt;
    padding: 0;
    color: rgb(43, 19, 129);
}
#output, #stats {
    border: 1px solid lightgray;
    margin-top: 0.8em;
    background-color: white;
    padding: 6px;
}
#stats {
    background-color: lightgray;
    border: 1px solid lightslategray;
}
.break {
    flex-basis: 100%;
    height: 0;
    margin-bottom: 1em;
}
#debuggame {
    margin: 1em 0.6em 0 0;
    outline: 0;
    border: 0;
    background-color: red;
    color: white;
    font-weight: bold;
    align-items: stretch;
    border-radius: 2em;
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    float: right;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}
#debuggame:hover {
    background-color: darkred;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    width: 3.8em;
}
.dbgactive {
    background-color: #3ce68e !important;
    width: 3.8em !important;
}
.dbgactive::before {
    color: white;
    content: "Debug";
    font-size: 8pt;
}
.dbgactive:hover {
    background-color: #31bd74 !important;
}
#debuginfo {
    margin-top: 0.6em;
    background-color: rgb(146, 153, 160);
    color: white;
    padding: 6px;
    border: 1px solid lightslategray;
}
#game label {
    color: rgb(31, 13, 94);
    font-weight: 500;
}
.att {
    color: rgb(216, 216, 216) !important;
    font-weight: 600;
}
.forcernd {
    margin: 0;
    background-color: rgb(128, 144, 158);
    border: 1px solid lightslategray;
    color: white;
    transition: width 0.1s ease-in-out;
}